* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #333;
    color: #333;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 10px 0;
}

.container-fluid {
    max-width: 100%;
    padding: 10px 0;

}

.row {
    //padding: 20px 10px;
    clear: both;
    perspective: 800px;
}
.clearfix {
   // clear: both;
}

.box {
    background-color: #fafafa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(1, 1, 1, 0.42);
    -moz-box-shadow: 0 2px 6px rgba(1, 1, 1, 0.42);
    box-shadow: 0 2px 6px rgba(1, 1, 1, 0.42);
    border-top: 1px solid #fff;
    text-align: center;
    margin: 0 10px;
    overflow: hidden;
    width: calc(100% - 20px);
}

.btn {
    background-color: #fafafa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 6px rgba(1, 1, 1, 0.42);
    -moz-box-shadow: 0 2px 6px rgba(1, 1, 1, 0.42);
    box-shadow: 0 2px 6px rgba(1, 1, 1, 0.42);
    border-top: 1px solid rgba(255,255,255,0.1);
    text-align: center;
    margin: 0 10px;
    overflow: hidden;
    width: calc(100% - 20px);
    position: relative;
}

.btn.btn-error {
    color: #fff;
    background-color: #d33737;
}
.btn.btn-error:hover {
    cursor: pointer;
    background-color: #b53030;
}
.btn.btn-error:active {
    top: 1px;
}



.h-1 {
    height: 20px;
}

.h-2 {
    height: 40px;
}

.h-3 {
    height: 60px;
}

.h-4 {
    height: 80px;
}

.l-1 {
    line-height: 20px;
}

.l-2 {
    line-height: 40px;
}

.l-3 {
    line-height: 60px;
}

.l-4 {
    line-height: 80px;
}

.col {
    margin-bottom: 20px;
    float: left;
}



/*

.col-12-x {
    width: 100%;
    float: left;
}
.col-12-x.box {
    width: calc(100%);
}



.col-8-x {
    width: 66.66666%;
    float: left;
}
.col-8-x.box {
    width: calc(66.66666% - 16.33333px);
}
.col-8-x.box:last-child {
    width: calc(66.66666% - 16.33333px);
    margin-right: 0;
}
.col-8-x.box:first-child {
    width: calc(66.66666% - 12.33333px);
    margin-right: 20px;
}


.col-6-x {
    width: 50%;
    float: left;
}
.col-6-x.box {
    width: calc(50% - 10px);
}
.col-6-x.box:last-child {
    width: calc(50% - 10px);
    margin-right: 0;
}

.col-4-x {
    width: 33.33333%;
    float: left;
}
.col-4-x.box {
    width: calc(33.33333% - 13.33333px);
}
.col-4-x.box:last-child {
    width: calc(33.33333% - 13.33333px);
    margin-right: 0;
}


.col-3-x {
    width: 25%;
    float: left;
}
.col-3-x.box {
    width: calc(25% - 15px);
}
.col-3-x.box:last-child {
    width: calc(25% - 15px);
    margin-right: 0;
}

.col-2-x {
    width: 16.66666%;
    float: left;
}
.col-2-x.box {
    width: calc(16.66666% - 16.66666px);
}
.col-2-x.box:last-child {
    width: calc(16.66666% - 16.66666px);
    margin-right: 0;
}

.col-1-x {
    width: 8.33333%;
    float: left;
}
.col-1-x.box {
    width: calc(8.33333% - 20px);
}
*/
/*  Thanks to Twitter Bootstrap CSS Framework for the Sizes*/

.col-12-x {
    width: 100%;float: left;
}
.col-11-x {
    width: 91.66666%;float: left;
}
.col-10-x {
    width: 83.33333%;float: left;
}
.col-9-x {
    width: 75%;float: left;
}
.col-8-x {
    width: 66.66666%;float: left;
}
.col-7-x {
    width: 58.33333%;float: left;
}
.col-6-x {
    width: 50%;float: left;
}
.col-5-x {
    width: 41.66666%;float: left;
}
.col-4-x {
    width: 33.3333%;float: left;
}
.col-3-x {
    width: 25%;float: left;
}
.col-2-x {
    width: 16.66666%;float: left;
}
.col-1-x {
    width: 8.33333%;float: left;
}

@media (min-width: 33.9em) {
    .col-12-s {
        width: 100%;float: left;
    }
    .col-11-s {
        width: 91.66666%;float: left;
    }
    .col-10-s {
        width: 83.33333%;float: left;
    }
    .col-9-s {
        width: 75%;float: left;
    }
    .col-8-s {
        width: 66.66666%;float: left;
    }
    .col-7-s {
        width: 58.33333%;float: left;
    }
    .col-6-s {
        width: 50%;float: left;
    }
    .col-5-s {
        width: 41.66666%;float: left;
    }
    .col-4-s {
        width: 33.3333%;float: left;
    }
    .col-3-s {
        width: 25%;float: left;
    }
    .col-2-s {
        width: 16.66666%;float: left;
    }
    .col-1-s {
        width: 8.33333%;float: left;
    }
}

@media (min-width: 47.9em) {
    .col-12-m {
        width: 100%;float: left;
    }
    .col-11-m {
        width: 91.66666%;float: left;
    }
    .col-10-m {
        width: 83.33333%;float: left;
    }
    .col-9-m {
        width: 75%;float: left;
    }
    .col-8-m {
        width: 66.66666%;float: left;
    }
    .col-7-m {
        width: 58.33333%;float: left;
    }
    .col-6-m {
        width: 50%;float: left;
    }
    .col-5-m {
        width: 41.66666%;float: left;
    }
    .col-4-m {
        width: 33.3333%;float: left;
    }
    .col-3-m {
        width: 25%;float: left;
    }
    .col-2-m {
        width: 16.66666%;float: left;
    }
    .col-1-m {
        width: 8.33333%;float: left;
    }
}

@media (min-width: 61.9em) {
    .col-12-l {
        width: 100%;    float: left;
    }
    .col-11-l {
        width: 91.66666%;    float: left;
    }
    .col-10-l {
        width: 83.33333%;    float: left;
    }
    .col-9-l {
        width: 75%;    float: left;
    }
    .col-8-l {
        width: 66.66666%;    float: left;
    }
    .col-7-l {
        width: 58.33333%;    float: left;
    }
    .col-6-l {
        width: 50%;    float: left;
    }
    .col-5-l {
        width: 41.66666%;    float: left;
    }
    .col-4-l {
        width: 33.3333%;    float: left;
    }
    .col-3-l {
        width: 25%;    float: left;
    }
    .col-2-l {
        width: 16.66666%;    float: left;
    }
    .col-1-l {
        width: 8.33333%;    float: left;
    }
}

@media (min-width: 74.9em) {
    .col-12-g {
        width: 100%;float: left;
    }
    .col-11-g {
        width: 91.66666%;float: left;
    }
    .col-10-g {
        width: 83.33333%;float: left;
    }
    .col-9-g {
        width: 75%;float: left;
    }
    .col-8-g {
        width: 66.66666%;float: left;
    }
    .col-7-g {
        width: 58.33333%;float: left;
    }
    .col-6-g {
        width: 50%;float: left;
    }
    .col-5-g {
        width: 41.66666%;float: left;
    }
    .col-4-g {
        width: 33.3333%;float: left;
    }
    .col-3-g {
        width: 25%;float: left;
    }
    .col-2-g {
        width: 16.66666%;float: left;
    }
    .col-1-g {
        width: 8.33333%;float: left;
    }
}
